<footer class="footer">
  <p class="footer__logo">Space Forum</p>
  <p class="footer__copyright">
    <span>&copy;</span> <%= new Date().getFullYear();%> Created by
    <span
      ><a href="https://github.com/cris-milona" target="_blank"
        >Christina Milona</a
      ></span
    >
    and
    <span
      ><a href="https://github.com/26fromthebar" target="_blank"
        >Kostas Christou</a
      ></span
    >. All Rights Reserved.
  </p>
</footer>
