<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="This forum is the place where we share our love for the universe"
    />
    <meta
      name="keywords"
      content="junior web developer, portfolio, Milona Christina"
    />
    <meta
      name="title"
      property="og:title"
      content="Milona Christina portfolio - space forum"
    />
    <meta property="og:type" content="forum" />
    <meta
      name="image"
      property="og:image"
      content="https://i.imgur.com/hvQX9Mg.png"
    />
    <meta
      name="description"
      property="og:description"
      content="This forum is the place where we share our love for the universe"
    />
    <meta name="author" content="Milona Christina" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forum</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/client.js" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
</html>
