<%- include('partials/head') -%>
<body>
  <%- include('partials/header') -%>
  <main class="main">
    <div class="container-error">
      <p class="error-message"><%= errorMessage %></p>
    </div>
  </main>
  <%- include('partials/footer') -%>
</body>
