<%- include('partials/head') -%>
<body>
  <%- include('partials/header') -%>
  <main class="main">
    <div class="container-text">
      <h2>Code of Contact</h2>
      <p class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum
        rutrum nunc, nec fermentum est. Aliquam erat volutpat. Vivamus
        sollicitudin ultrices erat sit amet eleifend. In efficitur faucibus
        metus in tristique. Praesent ullamcorper pellentesque arcu eu ornare.
        Aenean id auctor neque, quis pulvinar urna. In at augue ac magna viverra
        tempus. Quisque id laoreet sem. Integer pharetra accumsan augue, nec
        volutpat nunc ultrices sed. Nulla posuere tincidunt ligula sed pretium.
        Donec efficitur neque vel lacus fermentum sodales. Ut efficitur porta
        tincidunt. Nullam placerat nunc sed dui molestie, a iaculis est tempor.
        Aliquam eu volutpat nibh, ac placerat nisl. Duis vel malesuada mauris.
      </p>
      <p class="text">
        Proin pretium arcu eu justo tincidunt dictum. Class aptent taciti
        sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        Sed aliquet lectus congue interdum malesuada. Curabitur at lacinia
        purus. Integer venenatis ornare diam, pellentesque malesuada leo. Nulla
        ac turpis dolor. Suspendisse in ligula vitae elit lacinia aliquam vel
        vitae velit. Maecenas mattis pretium turpis, et mattis quam imperdiet
        vel.
      </p>
      <p class="text">
        Vivamus eget lectus porttitor, tempus dui sit amet, tristique massa.
        Nunc ac maximus est. Cras eu faucibus nisi. Sed eleifend euismod enim,
        vitae tempus tellus iaculis at. Maecenas tincidunt turpis sed ante
        euismod condimentum. Nulla in aliquet leo. Cras tincidunt, nisi vel
        convallis suscipit, sapien odio placerat nisl, sed vulputate tellus eros
        sit amet arcu. Aliquam erat volutpat. Nulla at rutrum sem. Praesent
        vestibulum tortor ut massa facilisis, in consequat diam dapibus. Quisque
        bibendum elit at purus iaculis, ac facilisis magna ultrices. Class
        aptent taciti sociosqu ad litora torquent per conubia nostra, per
        inceptos himenaeos.
      </p>
      <p class="text">
        Morbi posuere dui a nulla molestie, non fringilla nisi maximus. Aliquam
        ullamcorper risus sed orci facilisis convallis sit amet a massa. Nulla
        tempor enim sit amet ipsum tincidunt, ut porta dolor posuere. Integer
        laoreet, justo in elementum tempor, felis tortor porta tellus, vitae
        tincidunt mi nulla non metus. Nunc cursus lacus vehicula, consectetur
        odio non, laoreet felis. Nulla facilisi. Aliquam tincidunt ligula sit
        amet nibh sollicitudin suscipit. Ut et justo eget metus maximus
        venenatis at semper purus. Etiam accumsan elit eu sem congue, sed
        pellentesque mi venenatis. Duis dui massa, iaculis sed ornare ut,
        bibendum ac elit.
      </p>
      <p class="text">
        Aliquam scelerisque in eros a rutrum. Pellentesque bibendum malesuada
        diam, id ornare dolor lacinia nec. Integer sit amet fermentum massa.
        Nulla consequat metus id tortor tempus, in hendrerit ligula convallis.
        Ut lobortis, justo eu luctus posuere, ipsum ante maximus elit, vel
        pharetra ante velit a lorem. Nulla sit amet mi leo. Vivamus tempus ut
        erat et porttitor. Praesent elementum orci non malesuada mattis.
        Curabitur condimentum justo in sapien consequat, in efficitur leo
        condimentum. Cras sit amet felis et neque posuere mattis sed vel justo.
        Nulla in consectetur nibh. Integer sit amet lacinia urna.
      </p>
    </div>
  </main>
  <%- include('partials/footer') -%>
</body>
